<div class='sixteen columns'>
  <div class='eight columns omega aside-container'>
    <h4><%= @post['title'] %> by <%= @user['username'] %></h4>
    <%= @post['content'] %>
  
    <% if @post['user_id'] == @current_user['id'] %>
    <form method="post" action="/posts/<%= @post['id'] %>">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="post" value="post">
      <input type="submit" value="delete">
    </form>
    <form method="get" action="/posts/<%= @post['id'] %>/edit">
      <input type="submit" value="edit">
    </form>
  <% end %>
  
  
  </div>
  
   <div class='eight columns omega aside-container'>
    <h4>Comments section</h4>
    <form action="/posts/<%= @post['id'] %>/comments" method='post'>
      <input type='text' placeholder='New comment' name='content'>
      <input type='hidden' name='user_id' value='<%= @current_user['id'] %>'>
      <input type='submit' value='Submit'>
    </form>
  
    <% @comments.each do |comment| %>
      <p><%= comment['user'] %>: <%= comment['content'] %></p>
      <% if @current_user['id'] == comment['user_id'] || @post['user_id'] == @current_user['id'] %>
      <form method="post" action="/posts/<%= @post['id']%>/comments/<%=comment['id'] %>">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="id" value="<%=comment['id'] %>">
        <input type="submit" value="delete">
      </form>        
      <% end %>
    <% end %>
  </div>
</div><!-- end sixteen columnns -->
